<div class="not-found-content">
    Incorrect Password
</div>

<div class="footer" style="text-align: center;">
    <a href="/teacher/login" class="btn btn-info" style="margin-top: 5px; text-align: center;">Back to Login</a>
</div>